/* .auth-inner .productSearch {
  width: 500px
} */

.product-unavailable {
  color: #8080806b
}


.category-button {
  width: 200px;
  color: #F8C15D;
}

.add-product-dialogue {
  width: 800px;
  height: 800px
}