body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}

body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 70px;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner1 {
  width: 850px !important;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
  margin-top: 100px;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.success {
  border-color: #1569e0;
  color: #1569e0;
}

.success:hover {
  background-color: #1569e0;
  color: white;
}

.prev,
.next {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
  color: black;
  transition: 0.6s ease;
}
.next {
  margin-left: 5px;
}
.prev {
  margin-right: 5px;
}
.prev:hover,
.next:hover {
  color: white;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.image-container {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

.image {
  /* height: 100%;
  width: 100%; */
  font-size: 25px;
  margin: 10px;
  display: inline;
  line-height: 100px;
}

.main {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.scrollable-dropdown {
  height: auto;
  max-height: 320px; /* Increase / Decrease value as per your need */
  overflow-x: hidden;
}

.AddCart {
  cursor: pointer;
  background-color: #f5d47a;
  color: #000;
  text-align: center;
  border: 1px solid #b38b22;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.SaveForLater {
  cursor: pointer;
  color: #000;
  text-align: center;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

card.DelOptions {
  cursor: pointer;
  color: #000;
  text-align: center;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: "20px";
  margin-left: "40px";
  margin-right: "30px";
}
